<% provide(:title, 'Помощь') %>
<h1>Помощь</h1>
<p>
  Вы можете получить помощь, связавшись с создателями этого приложения
  <a href="vk.com/evgrdan">Данила Евграфов</a>.
  Если интересны технические детали приложения - обращайтесь к книге
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
