<div class="admhead">
  <h1>Группы</h1>
</div>
<% if current_user.admin? %>
<%= link_to "Добавить", new_group_path, class: "btn btn-default btn-lg", role: "button" %>
<% end %>
<table id="myTable" class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Пол</th>
      <th>Курс</th>
      <th>Группа по здоровью</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <% @groups.each do |group| %>
        <%= render partial: 'groups/group', locals: {group: group} %>
    <% end %>

</table>