  <div class="center hero-unit">
    <h1>Добро пожаловать на страничку лыжной базы ПГНИУ</h1>

    <%= link_to "Зарегистрируйтесь сейчас!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
