<div class="admhead">
  <h1>Нормативы</h1>
</div>
<% if current_user.admin? %>
<%= link_to "Добавить", new_norm_path, class: "btn btn-default btn-lg", role: "button" %>
<% end %>
<table id="myTable" class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Основной</th>
    <th>Тип</th>
    <th>Дата</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>10</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <% @norms.each do |norm| %>
      <%= render partial: 'norms/norm', locals: {norm: norm} %>
  <% end %>

</table>